header {
  text-align: center;
  background-color: yellow;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.attempt {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid rgb(0, 0, 0);
}

.hintColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(150, 83, 83);
  border: 1px solid white;
}

.guessColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  border: 1px solid white;
}

.hintColumn > div {
  width: 65.9px;
  height: 65.9px;
  border-radius: 50%;
  background-color: gray;
  margin: 5px;
}

.guessColumn > div {
  width: 65.9px;
  height: 65.9px;
  border-radius: 50%;
  background-color: gray;
  margin: 5px;
}

.hint {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
}

.computerGuess {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 207px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
  background-color: black;
}

.colorTable {
  display: block;
  width: 200px;
  height: 300px;
}

#colorChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 50px;
  border: 1px solid black;
}

.colorCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 300px;
  width: 210px;
  cursor: pointer;
  margin: 0 auto;
}

#green {
  background-color: green;
  cursor: pointer;
}

#blue {
  background-color: blue;
  cursor: pointer;
}

#red {
  background-color: red;
  cursor: pointer;
}

#purple {
  background-color: purple;
  cursor: pointer;
}

#yellow {
  background-color: yellow;
  cursor: pointer;
}

#orange {
  background-color: orange;
  cursor: pointer;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 160px;
  background-color: #14ae5c;
  cursor: pointer;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 160px;
  background-color: #f24822;
  cursor: pointer;
}

#clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 75px;
  background-color: rgb(86, 86, 86);
  cursor: pointer;
}

#message {
  display: none;
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 20px;
}
