body {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.attempt {
  display: grid;
  grid-template-columns: auto auto;
}

.hintColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(150, 83, 83);
  border: 1px solid white;
}

.guessColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  border: 1px solid white;
}

.hintColumn > div,
.guessColumn > div {
  width: 61.5px;
  height: 61.5px;
  border-radius: 50%;
  background-color: gray;
  margin: 5px;
}

.computerGuess {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 207px;
  height: 50px;
  border: 1px solid white;
  background-color: black;
}

.colorTable {
  display: block;
  width: 200px;
  height: 300px;
}

#colorChoice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
}

.colorCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 300px;
  width: 210px;
  cursor: pointer;
  margin: 0 auto;
}

#green {
  background-color: green;
  cursor: pointer;
}

#blue {
  background-color: blue;
  cursor: pointer;
}

#red {
  background-color: red;
  cursor: pointer;
}

#purple {
  background-color: purple;
  cursor: pointer;
}

#yellow {
  background-color: yellow;
  cursor: pointer;
}

#orange {
  background-color: orange;
  cursor: pointer;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 99px;
  background-color: #14ae5c;
  cursor: pointer;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 99px;
  background-color: #f24822;
  cursor: pointer;
}

#clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 75px;
  background-color: rgb(86, 86, 86);
  cursor: pointer;
}

#message {
  display: none;
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 17px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 60px;
  background-color: rgb(86, 86, 86);
  cursor: pointer;
}

h1,
p {
  color: white;
}

.modal {
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #8b4a4a;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
